<main>
  @if (!isMobile) {
  <app-navbar></app-navbar>
  } @else {
  <app-mobile-nav></app-mobile-nav>
  }
  <div class="background" (click)="onEditBackgroundPicture($event)">
    <div class="background-image-wrapper">
      <img
        [src]="backgroundImageUrl || 'images/icons/background.svg'"
        crossorigin="anonymous"
        alt=""
        class="background-image"
      />
    </div>
    <div class="background-overlay">
      <img
        src="images/icons/edit-icon.svg"
        alt="Edit profile"
        class="edit-icon"
      />
    </div>
  </div>

  <div class="profile-info">
    <div class="userbox-big">
      <div class="userbox">
        <h2 class="username">{{ username }}</h2>
        <div class="settings">
          @if(!edit) {
          <button class="edit-profile" (click)="editProfile($event)">
            <img
              src="images/icons/editprofile-icon.svg"
              alt="edit profile"
              class="edit-profile-icon"
            />
          </button>
          } @if(!settings) {
          <!-- TODO: Add profile settings -->
          <button class="edit-profile" (click)="editSettings($event)">
            <img
              src="images/icons/settings-icon.svg"
              alt="settings"
              class="profile-settings-icon"
            />
          </button>
          }
        </div>
      </div>
    </div>

    @if(description) {
    <p class="user-text">
      {{ description }}
    </p>

    }
    <div class="edit-wrapper">
      @if (edit) {
      <div class="edit-section">
        <div class="edit-field">
          <label class="edit-label">Username</label>
          <input
            id="username-id"
            placeholder="Enter new username"
            #usernameInput
            [(ngModel)]="username"
            maxlength="16"
            class="edit-input"
          />
          <small class="small-input"
            >{{ usernameInput.value?.length || 0 }}/16</small
          >
          @if (saveUsernameIcon) {
          <div class="tick-icon">
            <img
              src="images/icons/tick-icon.svg"
              alt="tick icon"
              class="tick-icon"
            />
          </div>
          }
          <div>
            <button class="save-btn" (click)="saveUsername()">Save</button>
          </div>
        </div>

        <div class="edit-field">
          <label class="edit-label">Description</label>
          <textarea
            id="description-id"
            placeholder="Enter new description"
            #descriptionInput
            [(ngModel)]="description"
            maxlength="255"
            class="edit-input"
          >
          </textarea>
          <small class="small-textarea"
            >{{ descriptionInput.value?.length || 0 }}/255</small
          >
          @if (saveDescriptionIcon) {
          <div class="tick-icon">
            <img
              src="images/icons/tick-icon.svg"
              alt="tick icon"
              class="tick-icon"
            />
          </div>
          }
          <div>
            <button class="save-btn" (click)="saveDescription()">Save</button>
            <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
          </div>
        </div>
      </div>
      } @if (settings){
      <div class="edit-section">
        <div class="edit-field">
          <label class="edit-label">Email</label>
          <input
            id="email-id"
            placeholder="Enter new email"
            #emailInput
            [(ngModel)]="email"
            type="email"
            class="edit-input"
          />
          <small class="small-input"
            >{{ emailInput.value?.length || 0 }}/64</small
          >
          <input
            id="password-id"
            placeholder="Enter your password"
            type="password"
            class="edit-input"
            placeholer="Current password to confirm"
          />

          @if (saveEmailIcon) {
          <div class="tick-icon">
            <img
              src="images/icons/tick-icon.svg"
              alt="tick icon"
              class="tick-icon"
            />
          </div>
          }
          <div>
            <button class="save-btn" (click)="saveEmail()">Save</button>
          </div>
        </div>
        <div class="edit-field">
          <label class="edit-label">Password</label>
          <input
            id="current-password-id"
            type="password"
            placeholder="Current password to confirm"
            class="edit-input"
          />
          <input
            id="new-password-id"
            placeholder="Enter new password"
            #newPasswordRef
            [(ngModel)]="newPasswordInput"
            type="password"
            class="edit-input"
            autocomplete="new-password"
          />
          <small class="small-input"
            >{{ newPasswordInput.length || 0 }}/64</small
          >
          @if (savePasswordIcon) {
          <div class="tick-icon">
            <img
              src="images/icons/tick-icon.svg"
              alt="tick icon"
              class="tick-icon"
            />
          </div>
          }
          <div>
            <button class="save-btn" (click)="savePassword()">Save</button>
            <button class="cancel-btn" (click)="cancelSettings()">
              Cancel
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="profile-pic" (click)="onEditProfilePicture($event)">
    <div class="profile-pic-wrapper">
      <img
        [src]="userPhotoUrl || 'images/icons/person-outline.svg'"
        crossorigin="anonymous"
        alt="Your profile picture"
        class="profile-picture"
      />
    </div>
    <div class="profile-pic-overlay">
      <img
        src="images/icons/edit-icon.svg"
        alt="Edit profile"
        class="edit-icon"
      />
    </div>
  </div>

  <h3>Favourite recipes</h3>
  @if (favouriteRecipes.length > 0) {
  <div class="filters">
    @if (Filtering) { @if (Open){
    <div class="close-btn">
      <button class="close" (click)="closeMenu()">
        <img
          src="images/mobile-menu/menu-close.svg"
          alt="close menu"
          class="settings-icon"
        />
      </button>
    </div>
    }
    <div class="settings">
      <div class="menu-overlay"></div>

      <div class="filter-wrapper">
        <label class="settings-label">Filters</label>
        <button class="settings-btn" (click)="openMenu()">
          <img
            src="images/mobile-menu/menu-open.svg"
            alt="open menu"
            class="settings-icon"
          />
        </button>
      </div>
      <div class="menu">
        <div class="search filter-wrapper">
          <label for="search">Search</label>
          <input
            type="text"
            id="search"
            class="search-input"
            (input)="onSearchChange($event)"
            placeholder="Search for recipes"
          />
        </div>
        <div class="difficulty filter-wrapper">
          <label for="difficulty">Difficulty</label>
          <select
            name="difficulty"
            id="difficulty"
            class="filter"
            (change)="onFilterChange('difficulty', $event)"
          >
            <option selected value="0">Choose difficulty</option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
          </select>
        </div>
        <div class="prepare-time filter-wrapper">
          <label for="prepare-time">Prepare time</label>
          <div class="inputs">
            <input
              type="number"
              class="prepTime from"
              (change)="onFilterChange('prepTime', $event)"
              placeholder="from"
            />
            <span> &mdash; </span>
            <input
              type="number"
              class="prepTime to"
              (change)="onFilterChange('prepTime', $event)"
              placeholder="to"
            />
          </div>
        </div>
        <div class="servings filter-wrapper">
          <label for="servings">Servings</label>
          <div class="inputs">
            <input
              id="servings-from"
              type="number"
              (input)="onFilterChange('servings', $event)"
              class="servings-input from"
              placeholder="from"
            />
            <span> &mdash; </span>
            <input
              id="servings-to"
              type="number"
              (input)="onFilterChange('servings', $event)"
              class="servings-input to"
              placeholder="to"
            />
          </div>
        </div>
        <div class="category filter-wrapper">
          <label for="category">Category</label>
          <select
            name="category"
            id="category"
            class="filter"
            (change)="onFilterChange('category', $event)"
          >
            <option selected value="">Choose category</option>
            @for (category of categoriesArray; track $index){
            <option [value]="category.categoryName">
              {{ category.categoryName }}
            </option>
            }
          </select>
        </div>
      </div>
    </div>
    } @else {
    <div class="search filter-wrapper">
      <label for="search">Search</label>
      <input
        type="text"
        id="search"
        class="search-input"
        (input)="onSearchChange($event)"
        placeholder="Search for recipes"
      />
    </div>
    <div class="difficulty filter-wrapper">
      <label for="difficulty">Difficulty</label>
      <select
        name="difficulty"
        id="difficulty"
        class="filter"
        (change)="onFilterChange('difficulty', $event)"
      >
        <option selected value="0">Choose difficulty</option>
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Hard</option>
      </select>
    </div>
    <div class="prepare-time filter-wrapper">
      <label for="prepare-time">Prepare time</label>
      <div class="inputs">
        <input
          type="number"
          class="prepTime from"
          (change)="onFilterChange('prepTime', $event)"
          placeholder="from"
        />
        <span> &mdash; </span>
        <input
          type="number"
          class="prepTime to"
          (change)="onFilterChange('prepTime', $event)"
          placeholder="to"
        />
      </div>
    </div>
    <div class="servings filter-wrapper">
      <label for="servings">Servings</label>
      <div class="inputs">
        <input
          id="servings-from"
          type="number"
          (input)="onFilterChange('servings', $event)"
          class="servings-input from"
          placeholder="from"
        />
        <span> &mdash; </span>
        <input
          id="servings-to"
          type="number"
          (input)="onFilterChange('servings', $event)"
          class="servings-input to"
          placeholder="to"
        />
      </div>
    </div>
    <div class="category filter-wrapper">
      <label for="category">Category</label>
      <select
        name="category"
        id="category"
        class="filter"
        (change)="onFilterChange('category', $event)"
      >
        <option selected value="">Choose category</option>
        @for (category of categoriesArray; track $index){
        <option [value]="category.categoryName">
          {{ category.categoryName }}
        </option>
        }
      </select>
    </div>
    }
  </div>
  <hr />
  }
  <div class="recipes grid-4-cols">
    @for (recipe of paginatedFavouriteRecipes; track $index) {
    <a class="recipe-link" [routerLink]="['/recipes', recipe.id]"
      ><figure class="recipe">
        <div class="image-wrapper">
          <img
            class="recipe-image"
            [src]="recipe?.imageUrl?.[0]?.imageUrl || 'images/Cibaria.png'"
            alt="{{ recipe?.recipeName }}"
          />
        </div>
        <h2 class="recipe-name">{{ recipe.recipeName }}</h2>
        <div class="recipe-desc">
          <div class="recipe-rating recipe-desc-inner">
            <img
              class="icon"
              src="images/icons/star-outline.svg"
              alt="small star icon"
            /><span>{{ getAverageRating(recipe.ratings) }}</span>
          </div>
          <div class="recipe-difficulty recipe-desc-inner">
            <img
              class="icon"
              src="images/icons/bar-chart-outline.svg"
              alt="chart icon"
            /><span>{{ getDifficulty(recipe.difficulty) }}</span>
          </div>
          <div class="recipe-servings recipe-desc-inner">
            <img
              class="icon"
              src="images/icons/restaurant-outline.svg"
              alt="fork and knife icon"
            /><span>{{ recipe.servings }} servings</span>
          </div>
          <div class="recipe-time recipe-desc-inner">
            <img
              class="icon"
              src="images/icons/time-outline.svg"
              alt="food icon"
            /><span>{{ recipe.prepareTime }} minutes</span>
          </div>
          <div class="recipe-time recipe-desc-inner">
            <img class="icon" src="images/icons/bowl-food.svg" alt="" />
            <span>{{ recipe.category }}</span>
          </div>
        </div>
      </figure></a
    >
    } @if (filteredFavouriteRecipes.length === 0 && favouriteRecipes.length > 0)
    {
    <p class="no-recipes">No recipes found matching your filters</p>
    } @if (favouriteRecipes.length === 0) {
    <p class="no-recipes">You have no favourite recipes yet</p>
    }
  </div>

  @if (filteredFavouriteRecipes.length > 0) {
  <div class="pagination">
    <button
      class="btn"
      [disabled]="currentPage === 1"
      (click)="onPageChange(currentPage - 1)"
    >
      Previous
    </button>
    <span class="pages">page {{ currentPage }} of {{ totalPages }}</span>
    <button
      class="btn"
      [disabled]="currentPage === totalPages"
      (click)="onPageChange(currentPage + 1)"
    >
      Next
    </button>
  </div>
  }
</main>
<app-footer-section></app-footer-section>
