<section class="testimonials-section">
  <div class="testimonials-header-div">
    <h4 class="testimonials-header">Testimonials</h4>
    <p class="testimonials-p">
      See what others are saying about their journey to delicious, stress-free
      cooking!
    </p>
  </div>
  <div class="testimonial grid-2-cols">
    <figure>
      <img
        src="images/featured/anna.jpg"
        alt="Picture of Anna Johnes"
        class="testimonial-img"
      />
      <div class="testimonial-text-div">
        <blockquote class="testimonial-text">
          This app has completely transformed the way I plan my meals. It's so
          easy to use, and now I always know what to cook!
        </blockquote>
        <p class="testimonial-name">&#9472; Anna Johnes</p>
      </div>
    </figure>
    <figure>
      <img
        src="images/featured/julia.jpg"
        alt="Picture of Julia Griffin"
        class="testimonial-img"
      />
      <blockquote class="testimonial-text">
        I love how this app helps me stay organized. The recipes are amazing,
        and I save so much time during the week!
      </blockquote>
      <p class="testimonial-name">&#9472; Julia Griffin</p>
    </figure>
    <figure>
      <img
        src="images/featured/michael.jpg"
        alt="Picture of Michael Williams"
        class="testimonial-img"
      />
      <blockquote class="testimonial-text">
        Cooking used to feel like a chore, but now it's fun and effortless. The
        planning feature is a game-changer for me.
      </blockquote>
      <p class="testimonial-name">&#9472; Michael Williams</p>
    </figure>
    <figure>
      <img
        src="images/featured/tom.jpg"
        alt="Picture of Tom Kowalski"
        class="testimonial-img"
      />
      <blockquote class="testimonial-text">
        Finally, an app that makes cooking stress-free! I feel more confident in
        the kitchen and love experimenting with new recipes
      </blockquote>
      <p class="testimonial-name">&#9472; Tom Kowalski</p>
    </figure>
  </div>
  <div
    class="gallery grid-5-cols"
    data-mouse-down-at="0"
    data-prev-precentage="0"
  >
    <figure>
      <img
        src="images/gallery/gallery1.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery2.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery3.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery4.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery5.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery6.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery7.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery8.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery9.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery10.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <!-- <figure>
      <img
        src="images/gallery/gallery11.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery12.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery13.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery14.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure>
    <figure>
      <img
        src="images/gallery/gallery15.jpg"
        alt=""
        class="testimonial-gallery-img"
        draggable="false"
      />
    </figure> -->
  </div>
</section>
