<section class="cta-section hidden">
  <div class="cta-text">
    <h4 class="cibaria-header">Cibaria</h4>
    <p class="cibaria-subheader">Let's keep in touch</p>
    <p class="cibaria-text">
      Sign up for our newsletter now and be the first to know about exciting new
      recipes! Get exclusive early access 3 days before anyone else and start
      planning your meals ahead of time with fresh inspiration delivered
      straight to your inbox.
    </p>
    <img src="images/Cibaria.png" alt="Cibaria logo" class="cta-img" />
  </div>
  <div class="cta-inputs">
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Enter your name" />
    <label for="email">Email</label>
    <input id="email" type="text" placeholder="Enter your e-mail" />
    <label for="">Where did you hear from us?</label>
    <select>
      <option value="Socialmedia">Socialmedia</option>
      <option value="Ads">Ads</option>
      <option value="Friends">Friends and family</option>
      <option value="Podcast">Podcast</option>
      <option value="Other">Other</option>
    </select>
    <button class="cta-btn">Get in touch</button>
  </div>
</section>
