<main class="priavcy-policy-main">
  <nav>
    <a href="" [routerLink]="['/']"
      ><img src="images/Cibaria.png" alt="Cibaria logo" class="logo"
    /></a>
    <ul class="nav-links">
      <li>
        <a class="nav-link" href="" [routerLink]="['']">Home</a>
      </li>
      <li>
        <a class="nav-link" href="" [routerLink]="['/recipes']">Recipes</a>
      </li>
      <li>
        <a class="nav-link" href="" [routerLink]="['/about-us']">About Us</a>
      </li>
      <li><a class="nav-link" href="" [routerLink]="['/login']">Login</a></li>
    </ul>
  </nav>
  <section>
    <article class="privacy-policy">
      <div></div>
      <div class="content">
        <h1>Contact Us</h1>

        <p>
          We'd love to hear from you! Whether you have a question, feedback, or
          need support, here's how you can get in touch with us:
        </p>
        <br />
        <h2>General Inquiries</h2>
        <p>
          Have a general question or want to learn more about Cibaria? Email us
          at: 📧 <a href="mailto:">info&#64;cibaria.edu</a>.
        </p>
        <br />
        <h2>Support</h2>
        <p>
          Encountered an issue or need help with your account? Reach out to our
          support team: 📧 <a href="mailto:">support&#64;cibaria.edu</a>.
        </p>
        <br />
        <h2>Privacy Concerns</h2>
        <p>
          For questions about how we handle your data or to exercise your
          privacy rights, contact our privacy team: 📧
          <a href="mailto:">privacy&#64;cibaria.edu</a>
        </p>
        <br />
        <h2>Business Partnerships</h2>
        <p>
          Interested in partnering with us? Let’s collaborate! Contact us at: 📧
          <a href="mailto:">partners&#64;cibaria.edu</a>.
        </p>
        <br />
        <h2>Social Media</h2>
        <p>Stay connected and follow us for updates, tips, and inspiration:</p>
        <ul class="steps">
          <li class="step">
            <a href="https://www.facebook.com/cibaria" target="_blank"
              >Facebook</a
            >
          </li>
          <li class="step">
            <a href="https://www.instagram.com/cibaria" target="_blank"
              >Instagram</a
            >
          </li>
          <li class="step">
            <a href="https://www.tiktok.com/cibaria" target="_blank">TikTok</a>
          </li>
          <li class="step">
            <a href="https://www.youtube.com/cibaria" target="_blank"
              >YouTube</a
            >
          </li>
          <li class="step">
            <a href="https://www.x.com/cibaria" target="_blank">X</a>
          </li>
        </ul>
        <br />
        <h2>Mailing Address</h2>
        <p>If you prefer to reach out by mail, you can write to us at:</p>
        <span>Cibaria HQ</span>
        <p>123 Recipe Lane,</p>
        <p>Foodie City, FL 12345</p>
        <p>
          We strive to respond to all inquiries within 2 business days. Thank
          you for being a part of our community!
        </p>
      </div>
      <div></div>
    </article>
  </section>
</main>
<app-footer-section></app-footer-section>
