<section class="feature-section">
  <div class="grid-2-cols">
    <div class="catch-div">
      <h3 class="catch-phrase">Flavors for every occasion!</h3>
      <p class="catch-text">
        Discover recipes that will delight your loved ones, no matter the
        occasion. From quick weeknight meals to special celebrations, bring
        creativity and joy to your kitchen with dishes that everyone will love.
      </p>
    </div>
    <div>
      <img
        src="images/z-pattern/food-z.jpg"
        alt="Delicious looking spaghetti"
      />
    </div>
    <div><img src="images/z-pattern/calendar-z.jpg" alt="Calendar" /></div>
    <div class="catch-div">
      <h3 class="catch-phrase">Your time, your plan.</h3>
      <p class="catch-text">
        Take full control of your cooking schedule and adapt it to your daily
        life. Whether you prefer to plan meals weeks in advance or decide on the
        fly, you can organize your cooking effortlessly and always stay on top
        of your culinary goals.
      </p>
    </div>
    <div class="catch-div">
      <h3 class="catch-phrase">Control the taste and quality.</h3>
      <p class="catch-text">
        By preparing meals yourself, you have full control over the ingredients
        and flavors that go into every dish. Enjoy the peace of mind that comes
        with knowing exactly what you're eating – fresh, healthy, and perfectly
        tailored to your taste.
      </p>
    </div>
    <div>
      <img src="images/z-pattern/cooking-z.jpg" alt="Chicken in a pan" />
    </div>
  </div>
</section>
