<section class="footer-section">
  <footer>
    <div class="footer-content">
      <div class="cibaria">
        <h4 class="cibaria-header">Cibaria</h4>
        <p class="cibaria-p">
          Discover, save, and rate recipes – everything you need to <br />
          make cooking a joy every day!
        </p>
      </div>
      <ul class="major-links">
        <li class="major-link">
          <ul>
            <li class="link">Extra links</li>
            <li class="link">
              <a href="" [routerLink]="['']">Home</a>
            </li>
            <li class="link">
              <a href="" [routerLink]="['/about-us']">About us</a>
            </li>
            <li class="link"><a href="">Recipes</a></li>
            <li class="link"><a href="">Contact</a></li>
          </ul>
        </li>
        <li class="major-link">
          <ul>
            <li class="link">Social media</li>
            <li class="link"><a href="">Facebook</a></li>
            <li class="link"><a href="">Instagram</a></li>
            <li class="link"><a href="">TikTok</a></li>
            <li class="link"><a href="">YouTube</a></li>
            <li class="link"><a href="">X</a></li>
          </ul>
        </li>
        <li class="major-link">
          <ul>
            <li class="link">Legal requirements</li>
            <li class="link">
              <a href="" [routerLink]="['/privacy-policy']">Privacy policy</a>
            </li>
            <li class="link"><a href="">Terms of Service</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <h5>Cibaria &copy;2024 All rights reserved.</h5>
    </div>
  </footer>
</section>
