<main class="priavcy-policy-main">
  <app-navbar></app-navbar>
  <section>
    <article class="privacy-policy">
      <div></div>
      <div class="content">
        <h1>Privacy Policy</h1>

        <h2>What Information We Collect</h2>
        <p>We collect following information:</p>
        <ul class="steps">
          <li class="step">Account Information: username, email address.</li>
          <li class="step">
            Usage Data: history of saved recipes, favorite lists, comments, and
            ratings.
          </li>
          <li class="step">Device Information: browser type, IP address.</li>
        </ul>
        <br />
        <h2>How We Use Your Information</h2>
        <p>We use your data to:</p>
        <ul class="steps">
          <li class="step">
            Provide and improve our services, such as organizing recipes and
            customizing features.
          </li>
          <li class="step">
            Personalize your experience, including recommending recipes based on
            your preferences.
          </li>
          <li class="step">
            Communicate about your account, including updates and notifications.
          </li>
          <li class="step">
            Analyze usage patterns on our platform to enhance its functionality.
          </li>
        </ul>
        <br />
        <h2>Sharing Information</h2>
        <p>
          We do not sell your personal data. However, we may share information
          with:
        </p>
        <ul class="steps">
          <li class="step">
            Service Providers supporting the operation of Cibaria, such as
            hosting and analytics.
          </li>
          <li class="step">Law Enforcement Authorities if required by law.</li>
        </ul>
        <br />
        <h2>Data Security</h2>
        <p>
          We implement appropriate security measures to protect your data.
          However, as this is a passion project, we cannot guarantee complete
          security.
        </p>
        <br />
        <h2>Your Rights</h2>
        <p>You have rights to:</p>
        <ul class="steps">
          <li class="step">
            Access your personal data stored on our platform.
          </li>
          <li class="step">Correct inaccurate or outdated information.</li>
          <li class="step">
            Request the deletion of your account along with saved data.
          </li>
          <li class="step">Opt out of receiving promotional communications.</li>
        </ul>
        <br />
        <h2>Contact Us</h2>
        <p>
          If you have any questions about privacy, please contact us at:
          <a href="mailto:">support&#64;cibaria.edu</a>
        </p>
      </div>
      <div></div>
    </article>
  </section>
</main>
<app-footer-section></app-footer-section>
