.login-register {
  background: rgb(23, 21, 21);
  background: linear-gradient(
    180deg,
    rgba(23, 21, 21, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: 65fr 35fr;
  border: 1px solid #868e96;
  border-radius: 1rem;
  margin: 0 24rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.login,
.register {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid #868e96;
  grid-column: 1;
  padding: 2.4rem;
}

.catch-phrase {
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: 1.03px;
}

.inputs {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  border-radius: 1rem;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}

input::placeholder {
  font-weight: 200;
  letter-spacing: 1.1px;
}

.remember-me {
  font-size: 1.6rem;
}

.button {
  padding: 1.6rem 3.2rem;
  border: none;
  font-size: 1.8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.already-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 2;

  padding: 2.4rem;
}

.already,
.action {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1.6rem 2.4rem;
}

.btn-already {
  padding: 1.6rem 3.2rem;
  border: none;
  font-size: 1.8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.btn-already:hover,
.button:hover {
  border: none;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.102),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #ccbebe;
  transform: translateY(-2px);
}

.ng-touched.ng-invalid {
  border: 2px solid red;
}

.wrong-pass {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
}
