<main class="hero-section">
  <app-navbar></app-navbar>
  <article>
    <div class="grid-3-cols">
      <div class="hero-left">
        <h4 class="cibaria-h4">cibaria</h4>
        <p class="catch-phrase">
          {{ "MAINPAGE.TITLE" | translate }}
        </p>
        <p class="text-addition">
          {{ "MAINPAGE.SUBTITLE" | translate }}
        </p>

        <div class="hero-buttons">
          <a class="hero-button full" href="">{{
            "MAINPAGE.BTNSTART" | translate
          }}</a>
          <a class="hero-button more" href="">{{
            "MAINPAGE.BTNINFO" | translate
          }}</a>
        </div>
        <div class="grid-3-cols">
          <div>
            <h3 class="trust-header">{{ "MAINPAGE.10Y" | translate }}</h3>
            <p class="trust-p">
              {{ "MAINPAGE.EXPERIENCE.FOOD_FIELD" | translate }}
            </p>
          </div>
          <div>
            <h3 class="trust-header">100+</h3>
            <p class="trust-p">
              {{ "MAINPAGE.EXPERIENCE.RECIPES" | translate }}
            </p>
          </div>
          <div>
            <h3 class="trust-header">100k+</h3>
            <p class="trust-p">
              {{ "MAINPAGE.EXPERIENCE.CLIENTS" | translate }}
            </p>
          </div>
        </div>
      </div>
      <img
        src="images/hero-img.png"
        alt="{{ 'MAINPAGE.TITLE' | translate }}"
        class="hero-right-img"
      />
    </div>
  </article>
</main>
