<main>
  @if (!isMobile) {
  <app-navbar></app-navbar>
  } @else {
  <app-mobile-nav></app-mobile-nav>
  }
  <article>
    @if (recipesArray.length >= 0) {
    <app-recipe-filters
      [isMobileFiltering]="isFiltering"
      (filtersChanged)="onFiltersChanged()"
    ></app-recipe-filters>
    <hr />
    }
    <div class="recipes grid-4-cols">
      @for (recipe of recipesArray; track $index) {
      <a class="recipe-link" [routerLink]="['/recipes', recipe.id]"
        ><figure class="recipe">
          <div class="image-wrapper">
            <img
              class="recipe-image"
              [src]="recipe.images?.[0]?.imageUrl || 'images/Cibaria.png'"
              alt="{{ recipe.recipeName }}"
            />
          </div>
          <div class="recipe-info">
            <h2 class="recipe-name">{{ recipe.recipeName }}</h2>
            <p class="recipe-language">{{ recipe.language }}</p>
          </div>
          <div class="recipe-desc">
            <div class="recipe-rating recipe-desc-inner">
              <img
                class="icon"
                src="images/icons/star-outline.svg"
                alt="small star icon"
              /><span>{{ getAverageRating(recipe.ratings) }}</span>
            </div>
            <div class="recipe-difficulty recipe-desc-inner">
              <img
                class="icon"
                src="images/icons/bar-chart-outline.svg"
                alt="chart icon"
              /><span>{{ getDifficulty(recipe.difficulty) }}</span>
            </div>
            <div class="recipe-servings recipe-desc-inner">
              <img
                class="icon"
                src="images/icons/restaurant-outline.svg"
                alt="fork and knife icon"
              /><span>{{ recipe.servings }} servings</span>
            </div>
            <div class="recipe-time recipe-desc-inner">
              <img
                class="icon"
                src="images/icons/time-outline.svg"
                alt="food icon"
              /><span>{{ recipe.prepareTime }} minutes</span>
            </div>
            <div class="recipe-time recipe-desc-inner">
              <img class="icon" src="images/icons/bowl-food.svg" alt="" />
              <span>{{ recipe.category }}</span>
            </div>
          </div>
        </figure></a
      >
      } @if (recipesArray.length === 0) {
      <p class="no-recipes">No recipes found</p>
      }
    </div>
    @if (recipesArray.length > 0) {
    <div class="pagination">
      <button
        class="btn"
        [disabled]="currentPage === 1"
        (click)="onPageChange(currentPage - 1)"
      >
        Previous
      </button>
      <span class="pages">page {{ currentPage }} of {{ totalPages }}</span>
      <button
        class="btn"
        [disabled]="currentPage === totalPages"
        (click)="onPageChange(currentPage + 1)"
      >
        Next
      </button>
    </div>
    }
  </article>
</main>

<app-footer-section></app-footer-section>
