<main class="hero-section">
  <nav>
    <a href="#"
      ><img src="" alt="Cibaria logo" class="logo" />
      <h1 class="cibaria-h1">Cibaria</h1></a
    >
    <ul class="nav-links">
      <li><a href="">About us</a></li>
      <li><a href="">Recipes</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Login</a></li>
    </ul>
  </nav>
  <article>
    <div class="grid-3-cols">
      <div class="hero-left">
        <h4 class="cibaria-h4">Cibaria</h4>
        <p class="catch-phrase">From Plans to Plates</p>
        <p class="text-addition">
          Transform your meal ideas into delicious reality with ease and
          elegance, one bite at a time."
        </p>

        <div>
          <button class="hero-button full"><a href="">Start Now</a></button>
          <button class="hero-button"><a href="">More Info</a></button>
        </div>
        <div class="grid-3-cols">
          <div>
            <h3 class="trust-header">10y</h3>
            <p class="trust-p">in food field</p>
          </div>
          <div>
            <h3 class="trust-header">100+</h3>
            <p class="trust-p">recipes</p>
          </div>
          <div>
            <h3 class="trust-header">100k+</h3>
            <p class="trust-p">happy clients</p>
          </div>
        </div>
      </div>
      <img src="" alt="" class="hero-right-img" />
    </div>
  </article>
</main>
