<main class="hero-section">
  <nav>
    <a href="#"
      ><img src="images/Cibaria.png" alt="Cibaria logo" class="logo"
    /></a>
    <ul class="nav-links">
      <li><a class="nav-link" href="">About us</a></li>
      <li><a class="nav-link" href="">Recipes</a></li>
      <li><a class="nav-link" href="">Contact</a></li>
      <li><a class="nav-link" href="">Login</a></li>
    </ul>
  </nav>
  <article>
    <div class="grid-3-cols">
      <div class="hero-left">
        <h4 class="cibaria-h4">Cibaria</h4>
        <p class="catch-phrase">
          Turning ideas into unforgettable culinary experiences
        </p>
        <p class="text-addition">
          Transform your culinary visions into delectable creations with
          effortless finesse and a touch of sophistication. Let every idea come
          to life as a memorable dish, served with grace and enjoyed one bite at
          a time.
        </p>

        <div class="hero-buttons">
          <a class="hero-button full" href="">Start Now</a>
          <a class="hero-button more" href="">More Info</a>
        </div>
        <div class="grid-3-cols">
          <div>
            <h3 class="trust-header">10y</h3>
            <p class="trust-p">in food field</p>
          </div>
          <div>
            <h3 class="trust-header">100+</h3>
            <p class="trust-p">recipes</p>
          </div>
          <div>
            <h3 class="trust-header">100k+</h3>
            <p class="trust-p">happy clients</p>
          </div>
        </div>
      </div>
      <img src="images/hero-img.jpg" alt="" class="hero-right-img" />
    </div>
  </article>
</main>
