<main class="about-us-main">
  <app-navbar></app-navbar>
  <section>
    <article class="about-us">
      <div class="col1">
        <h1>About us</h1>
        <p class="text">
          Welcome to <strong>Cibaria</strong>, your ultimate destination for
          discovering, sharing, and engaging with recipes from around the world.
          At Cibaria, we believe food brings people together, and our platform
          is designed to celebrate the joy of cooking and the magic of flavors.
        </p>
        <br />
        <p class="text">
          Here, you can explore a treasure trove of recipes, crafted by
          passionate home cooks and seasoned chefs alike. Whether you’re looking
          for inspiration for a family dinner, experimenting with a new cuisine,
          or perfecting a cherished classic, Cibaria is your trusted companion
          in the kitchen.
        </p>
        <br />
        <p class="text">
          But we’re more than just a recipe repository. Cibaria thrives on
          community. Add your own recipes to showcase your culinary creativity,
          rate dishes to guide fellow food lovers, and share comments to
          exchange tips, tweaks, and praise. Every rating and comment
          contributes to making Cibaria a dynamic and collaborative space where
          everyone’s voice and taste matter.
        </p>
        <br />
        <p class="text">
          Join us on this flavorful journey, and let’s cook, share, and savor
          together. Welcome to Cibaria – where every dish tells a story!
        </p>
      </div>
      <div class="col2">
        <img
          src="images/about-us/about-us-img.png"
          alt="About us"
          class="about-us-img"
        />
      </div>
    </article>
  </section>
</main>
<app-footer-section></app-footer-section>
