* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red !important; */ /* Uncomment for debugging */
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.overflow-h {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}
